header {
  background-color:#247C94;
  padding: 2rem 10rem 2rem;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: .15rem;
}

h1 a:link {
  color: white;
  text-decoration: none;
}

h1 a:visited {
  color: white;
  text-decoration: none;
}

h1 a:hover {
  color: black;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: lighter;
  font-style: oblique;
}

nav {
  background-color: #DDDDDD;
  padding: .5rem 10rem .5rem;
}

.nav {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-weight: bold;
}

.nav a:link {
  color: #333333;
  text-decoration: none;
  padding: .5rem;
  margin: .5rem;
}

.nav a:visited {
  color: #333333;
  text-decoration: none;
}

.nav a:hover {
  color: white;
  background-color: #333333;
  padding-top: .25rem;
  padding-bottom: .25rem;
  text-decoration: none;
}

article {
  padding: 2rem 2rem 10rem 10%;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  line-height: 1.5rem;
}

a:link {
  color: #247C94;
}

a:visited {
  color: purple;
}

a:hover {
  color: purple;
}

.lead {
  color: #247C94;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2rem;
}

blockquote {
  font-family: "Arial", "Verdana", sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: #247C94;
  margin-left: 0px;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

aside {
  width: 25rem;
  float: right;
  padding: 2rem 2rem 2rem 6rem;
}

figure {
  margin: 0px;
}

footer {
  background-color: #333333;
  clear: right;
  padding: 2rem 20% 2rem;
}

.footer {
  color: white;
  text-align: center;
}

.footer a:link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: .5rem;
  margin: .5rem;
}

.footer a:visited {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #333333;
  background-color: white;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.skip-link {
position: relative;
left: -10000px;
top: auto;
}

.skip-link:focus,.skip-link:active,.skip-link:hover {
  left: 0;
  color: #ffffff;
  border: 2px solid;
  border-radius: 20px;
  padding: 1rem;
  text-decoration: none;

}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
